@import "tailwindcss";
@import "tw-animate-css";


:root {
  --color-bg: #F4FEFF;
  --color-primary: #0E7490;
  --color-primary-light: #22D3EE;
  --color-primary-dark: #083344;

  --glass-bg: rgba(255, 255, 255, 0.6);
  --glass-border: rgba(34, 211, 238, 0.2);

  --text-main: #0f172a;
  --text-muted: #64748b;

  --shadow-soft: 0 10px 30px rgba(0,0,0,0.08);
}